<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PAM Main</title>
  <style>
    .btn {  cursor: pointer; }
  </style>
     <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
     <link
         href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
         rel="stylesheet">
     <link href="/css/sb-admin-2.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary mb-5"> -->
  <!-- 지수 0722 추가 background-color: #78d843; -->
  <nav class="navbar navbar-expand-lg navbar-light mb-5" style=" background: linear-gradient( to bottom, #9de477, #78d843 );">
  <a class="navbar-brand text-white" href="/">PAM Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" >
      <% if (user) {%>
        <!-- <li class="nav-item active">
          <a class="nav-link text-white" href="/">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-white" href="about">데이터통계</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="about">환경정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="about">사용자설정</a>
        </li>
        <!-- style left 130 적용 지수 0722-->
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" id="navbarDropdownMenuLink">관리자</a>
          <div class="dropdown-menu" style="left: -100px;">
            <a href="/users/logout" class="dropdown-item">로그아웃</a>
            <!-- <a href="/ideas" class="dropdown-item">Ideas</a>
            <a href="/ideas/add" class="dropdown-item">Add Idea</a> -->
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-white" href="/users/logout">로그아웃</a>
        </li> -->
<!--         
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" id="navbarDropdownMenuLink">Video Ideas</a>
        <div class="dropdown-menu">
          <a href="/ideas" class="dropdown-item">Ideas</a>
          <a href="/ideas/add" class="dropdown-item">Add Idea</a>
        </div>
      </li>
    </ul> -->
      <% } else { %>
        <li class="nav-item">
          <a href="/users/login" class="nav-link text-white">로그인</a>
        </li>
        <li class="nav-item">
          <a href="/users/register" class="nav-link text-white">회원가입</a>
        </li>
      <% } %>
    </ul>
    <!-- 지수 0722 수정
      <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" id="navbarDropdownMenuLink">Video Ideas</a>
        <div class="dropdown-menu">
          <a href="/ideas" class="dropdown-item">Ideas</a>
          <a href="/ideas/add" class="dropdown-item">Add Idea</a>
        </div>
      </li>
    </ul> -->
  </div>
</nav>
